body {
  margin: 0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: rgb(43, 43, 68);
}
h1 {
  margin: 0 auto;
  font-family: 'Crete Round', serif;
  font-size: 2.3rem;
  color: black;
  padding: 10px;
}
h2 {
  font-family: 'Crete Round', serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: black;
  margin-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: 'Crete Round', serif;
  font-size: 1rem;
  font-weight: normal;
}
img{
  margin: 0;
}
p {
  margin: 0 auto;
  font-size: 0.75rem;
}
hr {
  margin: 15px auto;
  border: none;
  border-top: 10px dotted;
  color: #EAF6F6;
  width: 10%;
}
.social_link:link {
  font-family: 'Crete Round', serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: black;
  text-decoration: none;
  margin: 5px;
}
.social_link:visited {
  font-family: 'Crete Round', serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: rgb(43, 43, 68);
  text-decoration: none;
}
.social_link:hover {
  font-family: 'Crete Round', serif;
  font-size: 1.3rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.header {
  background-color: rgb(214, 184, 254);
  color: rgb(43, 43, 68);
  position: relative;
  padding: 50px;
  height: 250px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 20px;
}
.icon_image {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.profile {
  padding: 20px;
}
.lil_more_content {
display: block;
width: 50%;
margin: 50px auto;
text-align: left;
line-height: 2
}
.skills {
width: 50%;
margin: 50px auto;
text-align: left;
}
.site_icon_1 {
  width: 20%;
  float: left;
}
.site_icon_2 {
  width: 20%;
  float: right;
}
.email_image {
  width: 4%;
  padding: 1rem;
}
.credits_attributions {
  padding: 35px;
  background-color: rgb(187,138,253);
}
.credits {
  font-size: 0.75rem;
  text-align: center;
}
